# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel
next-env.d.ts
.crush/crush.db
.crush/crush.db-shm
.crush/crush.db-wal
.crush/init
.crush/logs/crush.log
Projects/Learning/bubbletea-wiki/.crush/crush.db
Projects/Learning/bubbletea-wiki/.crush/crush.db-shm
Projects/Learning/bubbletea-wiki/.crush/crush.db-wal
Projects/Learning/bubbletea-wiki/.crush/init
Projects/Learning/bubbletea-wiki/.crush/logs/crush.log
.env
bun.lock
